.dashboard-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  position: relative;
  font-weight: 600;
}
.dashboard-parent {
  position: absolute;
  top: 224px;
  left: 14.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.job-opportunites {
  position: relative;
}
.cash-parent {
  position: absolute;
  top: 296px;
  left: 14.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.social-icons {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.6;
}
.social-icons-parent {
  position: absolute;
  top: 512px;
  left: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.pencil-parent {
  top: 584px;
}
.contacts-alt-parent,
.logout-parent,
.notebook-parent,
.pencil-parent {
  position: absolute;
  left: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.notebook-parent {
  top: 368px;
  color: var(--grey-white);
}
.contacts-alt-parent,
.logout-parent {
  top: 440px;
}
.logout-parent {
  top: 713px;
  left: 16px;
  color: rgba(255, 255, 255, 0.75);
}
.frame-child {
  position: relative;
  border-radius: 32px;
  background-color: var(--color-slateblue);
  width: 128px;
  height: 128px;
  z-index: 0;
}
.graduation-cap-icon {
  position: absolute;
  margin: 0 !important;
  height: 66.67%;
  width: 64.58%;
  top: 16.67%;
  right: 17.71%;
  bottom: 16.67%;
  left: 17.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.rectangle-parent {
  position: absolute;
  top: 48px;
  left: calc(50% - 64.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13.33px;
}
.frame-parent {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: #381372;
  width: 233px;
  height: 763px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper {
  position: absolute;
  top: 4px;
  left: 0;
  height: 676px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0;
  box-sizing: border-box;
}
.student-portal-dashboard-inner {
  position: absolute;
  height: 78.52%;
  top: 3.13%;
  bottom: 18.36%;
  left: 32px;
  width: 233px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.search {
  position: absolute;
  top: calc(50% - 12px);
  left: 14px;
}
.search-wrapper {
  position: absolute;
  height: 1.79%;
  width: 17.22%;
  top: 2.74%;
  right: 2.99%;
  bottom: 95.47%;
  left: 79.79%;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #fff, rgba(178, 131, 255, 0));
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: #5d00ff;
  font-family: var(--font-poppins);
}
.background-card,
.frame-item {
  position: absolute;
  top: 21px;
  left: 32px;
}
.background-card {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xl);
  background-color: var(--grey-white);
  border: 0.4px solid var(--grey-grey-5);
  box-sizing: border-box;
}
.product-management-basic {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.22px;
  line-height: 150%;
  font-weight: 800;
  display: inline-block;
}
.product-management-masterclass {
  width: 100%;
  top: 39.13%;
  font-size: 11.93px;
  color: var(--grey-grey-2);
  display: inline-block;
}
.b,
.div,
.july-2022,
.product-management-masterclass {
  position: absolute;
  left: 0;
  line-height: 150%;
}
.july-2022 {
  top: -14.18%;
  font-size: 5.19px;
  letter-spacing: 0.15px;
  color: var(--primary-primary-3);
  display: none;
}
.b,
.div {
  top: 0;
  display: inline-block;
  width: 21.12px;
  height: 9.26px;
}
.div {
  width: 16.67px;
  height: 8.52px;
}
.discount,
.discount-child {
  position: absolute;
  width: 17.04px;
}
.discount-child {
  top: 4.82px;
  left: 0;
  background-color: var(--black);
  height: 0.37px;
}
.discount {
  top: 0.37px;
  left: 21.86px;
  height: 8.52px;
  opacity: 0.5;
  font-size: 5.93px;
  color: var(--black);
}
.price {
  position: relative;
  width: 38.9px;
  height: 9.26px;
  display: none;
}
.show-all {
  position: relative;
  line-height: 150%;
}
.show-all-wrapper {
  border-radius: 2.96px;
  border: 0.4px solid var(--primer);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.334519386291504px 11.11506462097168px;
  text-align: center;
  font-size: 4.45px;
}
.card-footer {
  position: absolute;
  height: 9.25%;
  width: 100%;
  top: 90.75%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 6.67px;
  color: var(--primer);
}
.body-card {
  position: absolute;
  height: 42.59%;
  width: 86.96%;
  top: 50.42%;
  right: 6.52%;
  bottom: 6.99%;
  left: 6.52%;
}
.image-20-icon,
.unsplashgwnagjqeauo {
  position: absolute;
  bottom: 59.79%;
  border-radius: 2.96px 2.96px 0 0;
}
.unsplashgwnagjqeauo {
  height: 40%;
  width: 99.46%;
  top: 0.21%;
  right: 0.27%;
  left: 0.27%;
  background-color: var(--primary-primary-1);
}
.image-20-icon {
  height: 40.21%;
  width: 100%;
  top: 0;
  right: -2.37%;
  left: 2.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.b1,
.user-icon {
  position: relative;
}
.user-icon {
  width: 5.93px;
  height: 5.93px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.7;
}
.b1 {
  letter-spacing: 0.15px;
  line-height: 150%;
  opacity: 0.8;
}
.people,
.user-parent {
  display: none;
  align-items: center;
  justify-content: center;
}
.user-parent {
  flex-direction: row;
  gap: 0.74px;
}
.people {
  position: absolute;
  top: 51.87px;
  left: 7.41px;
  border-radius: 7.41px;
  background-color: var(--grey-white);
  flex-direction: column;
  padding: 2.223012924194336px 5.55753231048584px;
  font-size: 5.19px;
  color: var(--primer);
  font-family: var(--body-nunito-sans-bold-14);
}
.component-1,
.frame-group {
  position: absolute;
  overflow: hidden;
}
.component-1 {
  top: 0;
  left: -7px;
  border-radius: 2.96px;
  width: 295px;
  height: 347px;
}
.frame-group {
  height: calc(100% - 1762px);
  width: 19.65%;
  top: 278px;
  right: 55.28%;
  bottom: 1484px;
  left: 25.07%;
  border-radius: var(--br-5xl);
  background-color: var(--grey-white);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}
.product-management-basic1,
.product-management-masterclass1 {
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 150%;
  display: inline-block;
}
.product-management-basic1 {
  top: 12.42%;
  letter-spacing: 0.22px;
  font-weight: 800;
}
.product-management-masterclass1 {
  top: 46.69%;
  font-size: 11.93px;
  color: var(--grey-grey-2);
}
.july-20221 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5.19px;
  letter-spacing: 0.15px;
  line-height: 150%;
  color: var(--primary-primary-3);
}
.card-footer1 {
  position: absolute;
  height: 8.1%;
  width: 100%;
  top: 91.9%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 6.67px;
  color: var(--primer);
}
.body-card1,
.image-20-icon1 {
  position: absolute;
  height: 48.64%;
  width: 86.96%;
  top: 44.37%;
  right: 6.52%;
  bottom: 6.99%;
  left: 6.52%;
}
.image-20-icon1 {
  height: 40.21%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 59.79%;
  left: 0;
  border-radius: 2.96px 2.96px 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.b3 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 150%;
  opacity: 0.8;
}
.user-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.74px;
}
.frame-div,
.people1 {
  position: absolute;
  background-color: var(--grey-white);
}
.people1 {
  top: 51.87px;
  left: 7.41px;
  border-radius: 7.41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.223012924194336px 5.55753231048584px;
  font-size: var(--body-nunito-sans-bold-14-size);
  color: var(--primer);
  font-family: var(--body-nunito-sans-bold-14);
}
.frame-div {
  height: 100%;
  width: 100%;
  top: 300px;
  right: 173.14%;
  bottom: -300px;
  left: -173.14%;
  border-radius: var(--br-5xl);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.background-card2,
.component-2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.96px;
}
.background-card2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--grey-white);
  border: 0.4px solid var(--grey-grey-5);
  box-sizing: border-box;
}
.component-2 {
  width: 283px;
  height: 347px;
  overflow: hidden;
}
.frame-container {
  height: calc(100% - 1756px);
  width: 19.65%;
  top: 278px;
  right: 30.35%;
  bottom: 1478px;
  left: 50%;
  border-radius: var(--br-5xl);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.frame-container,
.frame-parent1,
.people5 {
  position: absolute;
  background-color: var(--grey-white);
}
.frame-parent1 {
  height: calc(100% - 1758px);
  width: 19.65%;
  top: 278px;
  right: 5.28%;
  bottom: 1480px;
  left: 75.07%;
  border-radius: var(--br-5xl);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.people5 {
  top: 51.87px;
  left: 7.41px;
  border-radius: 7.41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.223012924194336px 5.55753231048584px;
  font-size: 5.19px;
  color: var(--primer);
  font-family: var(--body-nunito-sans-bold-14);
}
.cyber-security {
  margin: 0;
}
.frame-parent10,
.frame-parent12,
.frame-parent14,
.frame-parent16,
.frame-parent18,
.frame-parent3,
.frame-parent5,
.frame-parent7,
.frame-parent9 {
  position: absolute;
  height: calc(100% - 1756px);
  width: 19.65%;
  top: 696px;
  right: 30.07%;
  bottom: 1060px;
  left: 50.28%;
  border-radius: var(--br-5xl);
  background-color: var(--grey-white);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.frame-parent10,
.frame-parent12,
.frame-parent14,
.frame-parent16,
.frame-parent18,
.frame-parent5,
.frame-parent7,
.frame-parent9 {
  top: 697px;
  right: 55%;
  bottom: 1059px;
  left: 25.35%;
}
.frame-parent10,
.frame-parent12,
.frame-parent14,
.frame-parent16,
.frame-parent18,
.frame-parent7,
.frame-parent9 {
  height: calc(100% - 1758px);
  top: 696px;
  right: 5%;
  bottom: 1062px;
  left: 75.35%;
}
.frame-parent10,
.frame-parent12,
.frame-parent14,
.frame-parent16,
.frame-parent18,
.frame-parent9 {
  height: calc(100% - 1762px);
  top: 1122px;
  right: 55.28%;
  bottom: 640px;
  left: 25.07%;
}
.frame-parent10,
.frame-parent12,
.frame-parent14,
.frame-parent16,
.frame-parent18 {
  height: calc(100% - 1756px);
  right: 30.35%;
  bottom: 634px;
  left: 50%;
}
.frame-parent12,
.frame-parent14,
.frame-parent16,
.frame-parent18 {
  height: calc(100% - 1758px);
  right: 5.28%;
  bottom: 636px;
  left: 75.07%;
}
.frame-parent14,
.frame-parent16,
.frame-parent18 {
  height: calc(100% - 1756px);
  top: 1540px;
  right: 30.07%;
  bottom: 216px;
  left: 50.28%;
}
.frame-parent16,
.frame-parent18 {
  top: 1541px;
  right: 55%;
  bottom: 215px;
  left: 25.35%;
}
.frame-parent18 {
  height: calc(100% - 1758px);
  top: 1540px;
  right: 5%;
  bottom: 218px;
  left: 75.35%;
}
.courses {
  color: var(--color-slateblue);
}
.discover-courses-txt-container {
  line-break: anywhere;
  width: 100%;
}
.discover-courses,
.student-essential-2023 {
  position: absolute;
  font-family: var(--font-poppins);
}
.discover-courses {
  top: 164px;
  left: 336px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  width: 461px;
  height: 65px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #000;
}
.student-essential-2023 {
  top: 2077px;
  left: calc(50% - 215px);
  font-size: 19px;
  font-weight: 500;
  color: #925fe2;
}
.student-portal-dashboard {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--grey-white);
  box-shadow: 12px 12px 48px 24px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 2120px;
  text-align: left;
  font-size: 18.89px;
  color: var(--grey-black);
  font-family: var(--font-maven-pro);
}
